{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="sort-block">
            <span class="sort-item">Сортировать по:</span>
            <a class="sort-item" href="?sort=name">названию</a>
            <a class="sort-item" href="?sort=author">автору</a>
            <a class="sort-item" href="?sort=pub_date">дате публикации</a>
        </div>
        <br><br>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации:
                        <a href="{% url 'by_date' book.pub_date %}">{{ book.pub_date }}</a>
                    </p>
                </div>
            {% endfor %}
        </div>

        <div class="paginator">
            {% if date_before %}
                <a href="{% url 'by_date' date_before %}">⟵{{ date_before }}</a>
            {% endif %}
            {% if date_after %}
                <a href="{% url 'by_date' date_after %}">{{ date_after }}⟶</a>
            {% endif %}
        </div>
    </div>
{% endblock %}